---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { fetchTags, type GithubTag } from '../../lib/github';

export async function getStaticPaths() {
  const books = await getCollection('books');
  const tags = await fetchTags();

  return books.map(book => {
    const versions = tags.filter(tag => tag.name.startsWith(book.slug));
    return {
      params: { book: book.slug },
      props: { book, versions },
    };
  });
}

const { book, versions } = Astro.props;

const randomColor = () => {
  const r = Math.floor(Math.random() * 255);
  const g = Math.floor(Math.random() * 255);
  const b = Math.floor(Math.random() * 255);
  return `rgba(${r}, ${g}, ${b}, 0.75)`;
};
---

<Layout title={book.data.title}>
  <main class="container mx-auto px-6 py-16 md:py-24">
    <section class="text-center max-w-3xl mx-auto mb-24">
      <div class="text-pane">
        <h1 class="text-4xl md:text-5xl lg:text-6xl !leading-tight">{book.data.title}</h1>
        <p class="mt-6 text-lg md:text-xl max-w-2xl mx-auto">by {book.data.author}</p>
        <p class="mt-2 text-lg md:text-xl max-w-2xl mx-auto">Published in {book.data.original_publication_year}</p>
        <p class="mt-4 text-base md:text-lg max-w-2xl mx-auto">{book.data.description}</p>
        <p class="mt-4 text-sm md:text-base max-w-2xl mx-auto">Genres: {book.data.genres.join(', ')}</p>
        {book.data.tags && <p class="mt-2 text-sm md:text-base max-w-2xl mx-auto">Tags: {book.data.tags.join(', ')}</p>}
      </div>
    </section>

    <section>
      <h2 class="text-pane text-3xl md:text-4xl text-center max-w-3xl mx-auto">Available Versions</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
        {versions.map((version: GithubTag) => (
          <a href={`/books/${book.slug}/${version.name}`} class="book-card">
            <div class="book-cover" style={`background-color: ${randomColor()}`}>
              <div class="book-title">{version.name}</div>
            </div>
            <div class="book-info">
              <p class="book-summary">View details for version {version.name}</p>
            </div>
          </a>
        ))}
      </div>
    </section>
  </main>
</Layout>