---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getThemeColor } from '../../lib/colors';

const books = await getCollection('books');
---

<Layout title="Book Catalogue">
  <main class="container mx-auto px-6 py-16 md:py-24">
    <section class="text-center max-w-3xl mx-auto mb-24">
      <div class="text-pane">
        <h1 class="text-4xl md:text-5xl lg:text-6xl !leading-tight">Our Catalogue</h1>
        <p class="mt-6 text-lg md:text-xl max-w-2xl mx-auto">
          Explore our collection of modernized classic texts.
        </p>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
        {books.map((book, index) => (
          <a href={`/books/${book.slug}`}>
            <div class="book-card">
              <div class="book-cover" style={`background-color: ${getThemeColor(index)}`}>
                <div class="book-title">{book.data.title}</div>
                <div class="book-author">by {book.data.author}</div>
              </div>
              <div class="book-info">
                <p class="book-summary">{book.data.description}</p>
              </div>
            </div>
          </a>
        ))}
      </div>
    </section>
  </main>
</Layout>